streamlit
openai
passlib
python-dotenv
ntplib
pygit2
requests
black
numpy
scipy
pandas
matplotlib
sympy
mpmath
statsmodels
PuLP
astropy
qutip
control
biopython
pubchempy
dendropy
rdkit
pyscf
pygame
chess
mido
midiutil
networkx
torch
ecdsa
tqdm
